<!-- Footer -->
<footer class="bg-dark text-center text-white footer">
    <!-- Grid container -->
   <!-- <div class="container p-4">
    
      <section class="mb-4">
    
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
      
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
       
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
    
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
      
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      
      <section class="">
        <form action="">
        
          <div class="row d-flex justify-content-center">
         
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our Product Updates</strong>
              </p>
            </div>
           
            <div class="col-md-5 col-12">
         
                <input mdbInput type="email" id="form5Example24" class="form-control" />
             
            </div>
       
            <div class="col-auto">
           
              <button mdbRipple type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
          
          </div>
      
        </form>
      </section>
    
      <section class="mb-4">
        <p>
            Welcome to our cutting-edge Shopify app, where shopping meets convenience in every click. Dive into a world of endless possibilities as you explore our vast array of products meticulously curated to cater to your every need and desire. From trendy fashion to essential gadgets, our app has it all.

Browse through our user-friendly interface, discover exclusive deals and discounts, and add your favorite items to your cart with ease. With secure payment options and lightning-fast checkout, shopping has never been more enjoyable.

Stay up-to-date with the latest trends and product releases with our push notifications, ensuring you never miss out on the hottest deals. Whether you're on the go or relaxing at home, our Shopify app brings the store to you, offering unparalleled convenience and flexibility.

Join our community of satisfied customers and elevate your shopping experience to new heights. Download our app today and embark on a journey of seamless shopping, right.
        </p>
      </section>
     
     
          
        
    </div>
 -->


    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-white" href="#">MC.Shopify.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

